.body{
    max-height: 100vh;
}

.side-bar{
    width: 20%;
    background-color: #091b5d;
    float: left;
    height: 100%;
    box-shadow: 3px 2px 12px 6px #27262629;
    z-index: 9;
}

.main-container{
    width: 100%;
    background-color: #e0e8e854;
    height: 100%;
}

.container{
    width: 78%;
    height: 100%;
    float: right;
    overflow-y: scroll;
}

.profile-image{
    width: 30%;
    height: 100%;
    float: right;
}

.profile{
    width: 100%;
    height: 35%;
}

.profile-caption{
    text-align: center

}

p{
    line-height: 1.6;
    padding: 2%;
}

img {
    margin:auto;
    margin-top: 20%;
    display: block;
  }

.element{
    width: 100%;
    /* background-color: aquamarine; */
    padding: 3%;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}


/* back to top button */
#button {
    display: inline-block;
    padding-top:15px; 
    background-color: #091b5d;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    z-index: 1000;
    opacity: 0.7;
    visibility: visible;
  }
  #button::after {
    content: "^";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }

  @media (min-width: 500px) {
    #button {
      margin: 30px;
    }
  }
  